body {
    font-size: 20px;
    /* color: #545454; */
    color: rgba(0,0,0,.85);
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.main-content {
    background-color: #dddddd8e !important;
}

.myNavBarGroup {
    position: fixed;
    z-index: 99000;
    top: 0;
    width: 100%;
    max-height: 52px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.33);
}

/* .myNavBarGroup nav {
    max-height: 53px;
} */

/* .myNavBarRow {
    max-height: 53px;
} */

/* .myUserInforA {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
} */

.page-container {
    margin-top: 52px;
}

.navbar-right .dropdown-menu {
    /* left: auto; */
    left: 0;
    right: 0;
}

.profile-info.dropdown .dropdown-menu > li > a {
    /* min-width: 210px; */
    min-width: 160px;
}

.myImg-center{
    position: absolute;
    /* top: 3px; */
    top: calc(50% - 22px);
    left: 3px;
}     

.myImg-left{
    position: absolute;
    left: -40px;
    /* top: calc(50% - 22px); */
    /* border: "2px solid rgb(255, 255, 255, 0.3)" */
}    

.myNoticiations{
    top: 3px;
}
