/* headerDIV--------------------------------------- */
#headerDiv{
    background-color: yellow;
    height: 300px;
}

.form-control{
    width: 70% !important;
    /* display: inline !important; */
    /* position: absolute;
    top: 45%;
    left: 27%; */
}

#search{
    width: 400px;
    font-size: 30px;
    text-align: center
}

#title{
    /* position: absolute; */
    /* top: 47%;
    left: 20% */
}
/* headerDIV--------------------------------------- */

/* 產品--------------------------------------------- */
.productImg{
    width: 200px
}

.name{
    width: 200px;
    display:inline-block;
    padding: 5px 5px;
    font-size: 10px;
}

.price{
    color: red;
}

.productDiv{
    width: 200px;
    height: 300px;
    display: inline-block;
    margin-left: 20px;
}


/* 產品--------------------------------------------- */

