/* headerDIV--------------------------------------- */

#headerDiv {
    background-color: #ecdcd2;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
}

#search {
    /* width: 400px; */
    /* font-size: 30px; */
    text-align: center;
}


/* #search {
    display: inline;
} */

.keyWord {
    display: inline;
}

.titleIimg1 {
    position: absolute;
    width: 70%;
    top: -90px;
    left: 20%;
}

#tocifyDiv {
    position: fixed;
    /* bottom: 100%; */
    right: 87%;
    text-align: center;
    z-index: 99999;
    font-size: 14px;
}

#tocifyDiv ul {
    display: inline-block;
}

.tocify.fixed {
    top: 100px !important;
}

li {
    list-style-type: none;
}


/* headerDIV--------------------------------------- */


/* 產品--------------------------------------------- */

#article {
    margin-top: 2%
}

.productImg {
    border-radius: 8px;
    border-width: 5px;
    border-style: outset;
    border-color: gray;
    background-color: white;
    width: 200px
}

.name {
    width: 200px;
    display: inline-block;
    padding: 5px 5px;
    font-size: 20px;
}

.price {
    color: red;
}

.productDiv {
    width: 200px;
    height: 400px;
    display: inline-block;
    margin-left: 20px;
}


/* 標籤--------------------------------------------- */

.hotSale {
    position: absolute;
    width: 40px;
    top: 0%;
    left: 90%;
}

.newSale {
    position: absolute;
    width: 40px;
    top: 0%;
    left: 90%;
}


/* 標籤--------------------------------------------- */


/* 產品--------------------------------------------- */

#left-area {
    /* width: 20%; */
    float: left;
}

#productsQuantity {
    text-align: center;
}

.productsQuantityTitle {
    color: indianred;
}

.more {
    float: right;
}

.classification {
    color: #666;
    margin-bottom: 1%;
}

.li {
    list-style: none;
    color: #666;
}

#adWall img {
    height: 385px;
    width: 100%
}