/* review */

#image {
  text-align: center;
  width: 300px;
}

h1 {
  text-align: center;
}

.card-img-top {
  background-color: black;
}

#previewDiv img {
  width: 300px;
}

.container {
  width: 900px;
}

/* new review */
