
  	.mycontainer{
/*   		border: 1px solid black; */
  		display: flex;
  		position:relative;
  		margin-top:50px;
  		justify-content: center;
  	}
  	.mylogo{
  		display:inline-block;
/*   		border: 1px solid pink; */
  		margin: 0 100px;
  		overflow:auto;
  	}
  	.mylogo img{
  		width:480px;
  	}
  	.myform{
  		width: 320px;
  		margin: 0 100px;
  		box-sizing:border-box;
  		padding: 0;	
  	}
  	.myform-title{
  		
  	}
  	.myform-title-ul{
  		margin: 0;
  		padding: 0;
  		border:none;
  		width: inherit;
  		list-style-type: none;
  		box-sizing:border-box;
  		
  	}
  	.myform-title-ul-li{
  		font-size: 15px;
  		display: inline-block;
  		background-color: #dfdfdf;
  		padding: 5px 7px;
  		border-radius: 3px 3px 0 0;
  		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	}
  	.myform-title-ul-li a{
		text-decoration: none;
		color: black;
  	}
  	.myform-title-assigned{
  		background-color: #f2f2f2;
  	}
  	.myform-main{
  		display:inline-block;
		width: inherit;
 		padding:20px;
 		background-color: #f2f2f2;
 		border-radius: 0px 5px 5px 5px;
 		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	}
  	.myform-main-input,.myform-main p,.myform-main h3{
  		margin:0;
  	}
  	.myform-main-input,.myform-main-button,.btn{
  		width:100%;
  		border: none;
  		border-radius: 4px;
  		font-size: 17px;
  		opacity:0.85;
  		text-decoration: none;
  		padding: 12px;
  	}	
  	.myform-main-input[type=password]{
  		font:small-caption;
  		font-size:16px;
  	}
  	.myform-main-button:hover,.btn:hover{
  		opacity:1;
  		color: white;
  	}
  	.myform-main h3{
  		text-align:center;
  		padding-bottom: 12px;
  	}
  	.myform-main-input{
  		padding-left: 12px;
  	}
  	.myform-main-button[type=submit]{
  		background-color: #4CAF50;
  		color: white;
  	}
  	.myform-block{
  		margin-bottom: 15px;
  	}
  	.myform-tag{
  		position:relative;
  	}
  	.myform-tag-left{
  		display: inline-block;
  	}
  	.myform-tag-right{
  		font-size:5px;
  		color: grey;
  		font-style:italic;
  		display: inline-block;
  		position:absolute;
  		right:0;
  		bottom: 0;
  	}
  	.google {
	  background-color: #dd4b39;
	  color: white;
	  text-align: left; 
	}
	.fb {
	  background-color: #3B5998;
	  color: white;
	  text-align: left;
	}
	.myinfoouter{
		border: 1px solid gray;
		justify-content: center;
		display: flex;
	}
	.myinfobracket{
		display: flex;
  		margin-top:20px;
  		box-sizing:border-box;
  		width: 780px;
  		padding:30px;
  		border-radius: 5px;
  		background-color: #f2f2f2;
  		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}
	.mytablist{
		border: 1px solid yellow;
		margin:0;
		box-sizing:border-box;
		width:200px;
		display:block;
		position:relative;
	}
	.mytablist-top{
		border: 1px solid green;
		margin:0;
		box-sizing:border-box;
		width:100%;
	}
	.myPhoto{
		border: 1px solid black;
		margin:0;
		box-sizing:border-box;
		overflow: auto;
	}
	.myPhoto img{
		width:180px;
		border-radius: 50%;
	}
	.mytablist-down{
		border: 1px solid pink;
		margin:0;
		box-sizing:border-box;
		text-align: center;
		height: inherit;
		display: block;
		margin-top: 10px;
	}
	.mytablist-down-block{
		margin:0;
		box-sizing:border-box;
		border: 1px solid blue;
		padding: 5px; 
		margin:5px 0px;
		border-radius: 3px;
	}
	.myInfoList{
		border: 1px solid purple;
		margin:0;
		box-sizing:border-box;
		width:100%;
		height:420px;
	}